project:
  type: website
  output-dir: docs
  resources:
   - CNAME

website:
  title: "Synagen"
  google-analytics: "G-GTQ80E50EZ"
  cookie-consent: true
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/
      - icon: twitter
        href: https://twitter.com
format:
  html:
    theme: united
    css: styles.css



